﻿@using DigiOutsource.Resources;
@{
    ViewBag.Title = Language.SpyStuff;
}

<h2>@Language.ThisisSpyStuff</h2>

<div style="width:300px; height:300px; margin:50px">
    <img src="https://thumbs.dreamstime.com/z/supervision-spy-concept-cctv-camera-headed-businessman-standing-dark-concrete-background-copy-space-117575148.jpg" />
</div>