﻿@using DigiOutsource.Resources;
@{
    var type = @Request.QueryString["type"];
    ViewBag.Title = type == "1" ? Language.AllSatellites: Language.VisibleSatellites;

}

<section class="p-4 d-flex justify-content-center">
    <div>
        <div class="form-check">

            @if (type == "1")
            {
                <label class="form-check-label" for="flexCheckDefault">
                   @Language.AllSatellites
                </label>
            }
            else
            {
        <label class="form-check-label" for="flexCheckDefault">
            @Language.VisibleSatellites
        </label>
            }

        </div>

    </div>
</section>

<div style="width:90%; margin:0 auto;">
    <table id="tblSetallites" class="table table-striped   nowrap" width="100%" cellspacing="0">

        <thead>
            <tr>
                <th>@Language.DisplayName</th>
                <th>@Language.Constellation</th>
                <th>@Language.isHealthy</th>
                <th>@Language.Latitude </th>
                <th>@Language.Longitude </th>

            </tr>
        </thead>
    </table>
</div>
<div id="result">

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> @Language.SatelliteDetails</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div id="content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> @Language.Close</button>
            </div>
        </div>

    </div>
</div>


@section Scripts
{
    <script>
        var result;
        $(document).ready(function () {


            if (@type== 1) {
                bindtable(result);
            }
            else {
                getPosition();
            }


        });
        function bindtable(geoLocation) {

            tabletoday = $('#tblSetallites').DataTable(
                {
                    "ajax":
                    {
                        "url": @type== 1 ? "/Satellite/GetAllSetallites?type=" + @type : "/Satellite/GetAllSetallites?type=" + @type+"&latitude=" + geoLocation.coords.latitude + "&longitude=" + geoLocation.coords.longitude,
                        "type": "GET",
                        "datatype": "json"
                    },

                    "columns": [
                        { "data": "displayName" },
                        { "data": "constellation" },
                        {
                            "data": "orbit.isHealthy", render: function (datum, type, row) {
                                return datum ? "<a style='color:green'> <i class='fa fa-circle green'  aria-hidden='true'></i></a>" : "<a style='color:red'> <i class='fa fa-circle green'  aria-hidden='true'></i></a>";
                            }
                        },
                        {
                            "data": "Path[0].trace.latitude", render: function (data, type, row) {
                                return ConvertDECToDMS(data, true)
                            }
                        },
                        {
                            "data": "Path[0].trace.longitude", render: function (data, type, row) {
                                return ConvertDECToDMS(data, false)
                            } },

                    ],
                    "createdRow": function (row, data, dataIndex) {
                        var color = "";
                        switch (data.constellation) {
                            case "C":
                                color = "success";
                                break;
                            case "E":
                                color = "active";
                                break;
                            case "G":
                                color = "warning";
                                break;
                            case "J":
                                color = "secondary";
                                break;
                            case "R":
                                color = "danger";
                                break;
                            default:
                                color = "light";

                        }
                        $(row).addClass("table-" + color)
                    }


                })

            $('#tblSetallites tbody').on('click', 'tr', function () {
                var data = tabletoday.row(this).data();
                jQuery.noConflict();

                var str = " <div class='container'> <div class='row' >  <div class='col-md-6'>"+'@Language.DisplayName'+":"
                    + data.displayName +
                            "</div>  <div class='col-md-6'>"+'@Language.Id'+":"
                    + data.id + "</div></div ><div class='row'><div class='col-md-6'>"+'@Language.Constellation'+":" +
                    data.constellation + "</div > <div class='col-md-6'>" + '@Language.Prn' + ":" + data.prn +
                            "</div></div ></br><b> "+'@Language.Paths'+" </b> </br><div class='row'><div class='col-md-6'>"+'@Language.Latitude'+":" +
                    ConvertDECToDMS(data.Path[0].trace.latitude, true) + "</div > <div class='col-md-6'>" + '@Language.Longitude' + ":" + ConvertDECToDMS(data.Path[0].trace.longitude, false) +
                            "</div></div > <div class='row'><div class='col-md-6'>"+'@Language.Height'+": " +
                    data.Path[0].trace.height + "</div ></div ></br><b> "+'@Language.Orbits'+": </b></br> <div class='row' > <div class='col-md-6'>"+'@Language.a0'+":" +
                    data.orbit.a0 + "</div > <div class='col-md-6'>" + '@Language.a1' + ":" + data.orbit.a1 +
                    "</div></div >   <div class='row' >  <div class='col-md-6'>" + '@Language.Eccentricity' + ":" + data.orbit.eccentricity +
                            "</div></div >   <div class='row' > <div class='col-md-6'>"+'@Language.GpsSeconds'+":" +
                    data.orbit.gpsSeconds + "</div > <div class='col-md-6'>" + '@Language.GpsWeek' + ":" + data.orbit.gpsWeek +
                            "</div></div >  <div class='row' > <div class='col-md-6'>"+'@Language.HealthCode'+":" +
                    data.orbit.healthCode + "</div > <div class='col-md-6'>" + '@Language.isHealthy' + ":" + data.orbit.isHealthy +
                            "</div></div >  <div class='row' > <div class='col-md-6'>"+'@Language.m0'+":" +
                    data.orbit.m0 + "</div > <div class='col-md-6'>" + '@Language.omega' + ":" + data.orbit.omega +
                            "</div></div >  <div class='row' > <div class='col-md-6'>"+'@Language.omega0'+":" +
                    data.orbit.omega0 + "</div ></div><div class='row' > <div class='col-md-12'>" + '@Language.omegaDot' + ":" + data.orbit.omegaDot +
                            "</div></div >  <div class='row' > <div class='col-md-12'>"+'@Language.rootOfSemiMajorAxis'+":" +
                    data.orbit.rootOfSemiMajorAxis + "</div > </div > <div class='row' >  <div class='col-md-12' > "+'@Language.DeltaInclination'+": " +
                    data.orbit.deltaInclination + "</div ></div >  </div > ";
                $("#content").html(str);

                $("#myModal").modal();

            })
        }


        function getPosition() {
            // Store the element where the page displays the result
            result = document.getElementById("result");

            // If geolocation is available, try to get the visitor's position
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
              //  result.innerHTML = "Getting the position information...";
            } else {
                alert("Sorry, your browser does not support HTML5 geolocation.");
            }
        };


        function successCallback(position) {
          //  result = position;
            bindtable(position);
        }

        function errorCallback(error) {
            if (error.code == 1) {
                result.innerHTML = "You've decided not to share your position, but it's OK. We won't ask you again.";
            } else if (error.code == 2) {
                result.innerHTML = "The network is down or the positioning service can't be reached.";
            } else if (error.code == 3) {
                result.innerHTML = "The attempt timed out before it could get the location data.";
            } else {
                result.innerHTML = "Geolocation failed due to unknown error.";
            }
        }

        function ConvertDECToDMS(deg, lat) {
            var absolute = Math.abs(deg);

            var degrees = Math.floor(absolute);
            var minutesNotTruncated = (absolute - degrees) * 60;
            var minutes = Math.floor(minutesNotTruncated);
            var seconds = ((minutesNotTruncated - minutes) * 60).toFixed(2);

            if (lat) {
                var direction = deg >= 0 ? "N" : "S";
            } else {
                var direction = deg >= 0 ? "E" : "W";
            }

            return degrees + "°" + minutes + "'" + seconds + "\"" + direction;
        }
    </script>
}
